################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TesteDropDownEnum/packages
/TesteDropDownEnum/TesteDropDownEnum/bin
/TesteDropDownEnum/TesteDropDownEnum/obj/Debug
